@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.button {
  background: none;
  border-image-repeat: stretch;
  border-image-slice: 45% 40% !important;
  border-image-source: url(../public/border_button.svg);
  border-image-width: 60px 80px;
  border-style: solid !important;
  border-width: 17px !important;
  color: var(--white);
  cursor: pointer;
  font-family: Monorama, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
  font-size: 0.775rem;
  height: 1.8125rem;
  letter-spacing: -0.02em;
  line-height: 1.29;
  padding: 0 !important;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.button--blocking {
  z-index: 4 !important;
}

.button--blocking,
.button--blocking * {
  cursor: auto;
  pointer-events: auto;
}

.button:before {
  --offset: 2px;
  border-image-repeat: stretch;
  border-image-slice: 45% 40% !important;
  border-image-source: url(../public/border_button.svg);
  border-image-width: 60px 80px;
  border-style: solid !important;
  border-width: calc(17px + var(--offset)) !important;
  content: "";
  display: block;
  filter: blur(3px);
  height: calc(100% + var(--offset));
  left: calc(-17px - var(--offset) * 1);
  position: absolute;
  top: calc(-17px - var(--offset));
  width: calc(100% + 34px + var(--offset) * 2);
  z-index: -1;
}

.button.resource-title {
  border-image-source: url(../public/border_ressource_title.svg);
}

@media (min-width: 1024px) {
  .button.oversized {
    margin: 0 20px;
    padding: 0 40px !important;
  }

  .button.oversized.partners__name {
    padding: 0 25px !important;
  }
}

.button.oversized.active,
.button:hover {
  border-image-source: url(../public/border_ressource_title.svg);
}

.button:hover:before {
  --offset: 2px;
  border-image-repeat: stretch;
  border-image-slice: 45% 40% !important;
  border-image-source: url(../public/border_button_hover_before.svg);
  border-image-width: 60px 80px;
  border-style: solid !important;
  border-width: calc(17px + var(--offset)) !important;
  content: "";
  display: block;
  filter: blur(3px);
  height: calc(100% + var(--offset));
  left: calc(-17px - var(--offset) * 1);
  position: absolute;
  top: calc(-17px - var(--offset));
  width: calc(100% + 34px + var(--offset) * 2);
  z-index: -1;
}
